.footer-contact {
  width: 25%;
  text-align: left;
}

.footer-follow {
  width: 25%;
  text-align: right;
}

.footer-social {
  display: flex;
  flex-direction: row;
}

.socmed-icons {
  font-size: 20px;
}

.footer-contact-follow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 7rem;
}

.footer {
  background-color: #FBEAF4;
  width: 100%;
  bottom: 0;
  border-radius: 15px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #393939;
}

.footer-copy {
  height: 1rem;
  text-align: center;
}

.contact-title {
  margin-bottom: 1rem;
}
.follow-title {
  margin-bottom: 1rem;
}

.productpage-info {
  width: 20rem;
  height: 25rem;
  text-align: left;
  color: #393939;
}

.productpage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50rem;
  margin: auto;
  margin-top: 10rem;
}

.product-img {
  height: 20rem;
  margin: 1rem;

}

.productpage-input {
  width: 1.6rem;
  height: 1.6rem;
  border-color: #FBEAF4;
  border-style: solid;
  margin-right: 1rem;
}

.cartbtn {
  background-color: #FBEAF4;
  border-color: transparent;
  width: 14rem;
  height: 2rem;
  font-size: 17px;
  color: #393939;
}

.checkout-title {
  color: #B9D8F6;
}

.checkout-items {
  display: flex;
  flex-direction: row;
  width: 40rem;
  align-items: center;
  color: #393939;
}

.checkout-img {
  height: 5rem;
}

.checkout-title-price {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 1rem;
}

.checkout-page {
  display: flex;
  flex-direction: column;
  width: 40rem;
  margin: auto;
  margin-top: 10rem;
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  margin: 1rem;
}

.plus-btn {
  background-color: transparent;
  border-color: transparent;
}

.minus-btn {
  background-color: transparent;
  border-color: transparent;
}

.delete-btn {
  background-color: transparent;
  border-color: transparent;
}

.total {
  text-align: right;
  background-color: #FBEAF4;
  padding: 1rem;
  border-radius: 15px;
  margin-bottom: 3rem;

}

.logo {
  text-align: center;
  color: #B9D8F6;
  font-size: 55px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cart {
  font-size: 25px;
  text-align: right;
}

.products {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 70rem;
  align-items: center;
  margin: auto;
  margin-bottom: 3rem;

}

