.footer-contact {
  width: 25%;
  text-align: left;
}

.footer-follow {
  width: 25%;
  text-align: right;
}

.footer-contact-follow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 7rem;
}

.footer {
  background-color: lightblue;
  width: 100%;
  padding: 2rem;
  position: absolute;
  bottom: 0;
}

.footer-copy {
  height: 1rem;
}

.productpage-info {
  width: 20rem;
  height: 25rem;
  text-align: left;
  background-color: lightpink;
}

.productpage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: antiquewhite;
  width: 50rem;
  margin: auto;
  margin-top: 10rem;
}

.product-img {
  height: 20rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 1rem;

}



.checkout-items {
  display: flex;
  flex-direction: row;
  background-color: lightcoral;
  width: 40rem;
  align-items: center;

}

.checkout-img {
  height: 5rem;
}

.checkout-title-price {
  display: flex;
  flex-direction: row;
  background-color: blue;
  width: 100%;
  margin: 1rem;
}

.checkout-page {
  background-color: lightpink;
  display: flex;
  flex-direction: column;
  width: 40rem;
  margin: auto;
  margin-top: 10rem;
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: aqua;
  width: 100%;
  margin: 1rem;
}

.plus-btn {
  background-color: transparent;
  border-color: transparent;
}

.minus-btn {
  background-color: transparent;
  border-color: transparent;
}

.total {
  text-align: right;
}